# Learn more https://docs.expo.dev/build-reference/easignore/

# dependencies
node_modules/

# Expo
.expo/
dist/
web-build/

# Native
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*

# debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store
*.pem

# local env files
.env*.local

# typescript
*.tsbuildinfo

# Additional ignores specific to EAS builds

# Ignore native folders (if you are using EAS Build)
/android
/ios

# Ignore test coverage reports
/coverage
